.codex

.DS_Store

.idea/*.iml
.idea/.gitignore
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/codeStyles/

out
dist
target
node_modules

src-tauri/gen
src-tauri/icons
src-tauri/binaries

Cargo.lock
package-lock.json
