.DS_Store

.idea/*.iml
.idea/.gitignore
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/codeStyles/

dist
addons
target
src-tauri/gen
src-tauri/icons
node_modules

Cargo.lock
package-lock.json
