/*--------------------------------------------------------------------------------------------------------------------*/

@import url("vue-nyx/style/vue-nyx.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

html, body,
#nyx_dashboard {

    background-color: transparent;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"][data-maximized="false"] > #nyx_dashboard {

    border: 1px var(--bs-secondary-border-subtle) solid;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"][data-maximized="false"] > #nyx_dashboard {

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

body[data-environment="tauri"][data-maximized="false"] > #nyx_dashboard > nav {

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

input:invalid {

    background-color: var(--bs-danger-bg-subtle);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
