/*--------------------------------------------------------------------------------------------------------------------*/

@import url("vue-indi/style/vue-indi.css");

@import url("leaflet/dist/leaflet.css");

/*--------------------------------------------------------------------------------------------------------------------*/

html,
body,
#indi_dashboard {

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn {

    -webkit-app-region: no-drag !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-logo-container,
.leaflet-control-attribution {

    display: none !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
