/*--------------------------------------------------------------------------------------------------------------------*/

@import url("vue-indi/style/vue-indi.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

html, body,
#indi_dashboard {

    background-color: transparent;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"] > div > nav {

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
