/*--------------------------------------------------------------------------------------------------------------------*/

@import url(leaflet/dist/leaflet.css);

@import url(bootstrap/dist/css/bootstrap.css);

@import url(bootstrap-icons/font/bootstrap-icons.css);

@import url(vue-indi/style/vue-indi.css);

/*--------------------------------------------------------------------------------------------------------------------*/

html,
body,
#indi_dashboard {

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn,
.btn-group,
.form-select,
.form-control,
.input-group-sm > .form-control {

    border-radius: 0.75rem;
    -webkit-app-region: no-drag !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-logo-container,
.leaflet-control-attribution {

    display: none !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
