/*--------------------------------------------------------------------------------------------------------------------*/

@import url("vue-nyx/style/vue-nyx.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

html, body,
#indi_dashboard {

    background-color: transparent;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"][data-maximized="false"] > #indi_dashboard {

    border: 1px var(--bs-secondary-border-subtle) solid;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"][data-maximized="false"] > #indi_dashboard {

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

body[data-environment="tauri"][data-maximized="false"] > #indi_dashboard > nav {

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#nyx_locker {
    /*----------------------------------------------------------------------------------------------------------------*/

    display: flex;
    justify-content: center;

    /*----------------------------------------------------------------------------------------------------------------*/

    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    /*----------------------------------------------------------------------------------------------------------------*/

    z-index: 9999;

    /*----------------------------------------------------------------------------------------------------------------*/

    background-color: var(--bs-body-bg);

    /*----------------------------------------------------------------------------------------------------------------*/
}

/*--------------------------------------------------------------------------------------------------------------------*/
