/*--------------------------------------------------------------------------------------------------------------------*/

@import url("vue-indi/style/vue-indi.css");

@import url("leaflet/dist/leaflet.css");

/*--------------------------------------------------------------------------------------------------------------------*/

html,
body,
#indi_dashboard {

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn {

    -webkit-app-region: no-drag !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-tooltip,
.aladin-logo-container,
.leaflet-control-attribution {

    display: none !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-btn {

    border-color: var(--bs-primary) !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-popup {

    border-color: transparent !important;

    background: rgba(66, 66, 66, 0.3) !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-popup-arrow {

    border-color: rgba(66, 66, 66, 0.3) transparent transparent !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-popup a {

    color: white !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-popup .aladin-closeBtn {

    border: none !important;
    background: none !important;

    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-popup .aladin-sp-content {

    font-size: 0.8rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.aladin-horizontal-list > * {

    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
