/*--------------------------------------------------------------------------------------------------------------------*/

@import url("gridstack/dist/gridstack.css");

@import url("vue-nyx/style/vue-nyx.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

html, body,
#nyx_dashboard {

    background-color: transparent;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"][data-maximized="false"] > #nyx_dashboard {

    border: 1px var(--bs-secondary-border-subtle) solid;

    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

input:invalid {

    background-color: var(--bs-danger-bg-subtle);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.modal,
.offcanvas,
.modal-backdrop,
.offcanvas-backdrop {

    top: 40px !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.modal-dialog {

    margin: 0 auto;

    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-tauri-drag-region] .navbar-text {

    color: white;

    white-space: nowrap;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-tauri-drag-region] .btn,
[data-tauri-drag-region] .form-control,
[data-tauri-drag-region] label[for="C2D68371"] {

    color: white;

    white-space: nowrap;

    border-color: rgb(10, 89, 204);

    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-tauri-drag-region] input::placeholder {

    color: rgba(255, 255, 255, 0.75);
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-tauri-drag-region] .btn-secondary { background-color: var(--bs-secondary); }
[data-tauri-drag-region] .btn-success { background-color: var(--bs-success); }
[data-tauri-drag-region] .btn-danger { background-color: var(--bs-danger); }
[data-tauri-drag-region] .btn-warning { background-color: var(--bs-warning); }
[data-tauri-drag-region] .btn-info { background-color: var(--bs-info); }
[data-tauri-drag-region] .btn-light { background-color: var(--bs-light); }
[data-tauri-drag-region] .btn-dark { background-color: var(--bs-dark); }

/*--------------------------------------------------------------------------------------------------------------------*/
