/*--------------------------------------------------------------------------------------------------------------------*/

@import url("vue-nyx/style/vue-nyx.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

html, body,
#nyx_dashboard {

    background-color: transparent;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"][data-maximized="false"] > #nyx_dashboard {

    border: 1px var(--bs-secondary-border-subtle) solid;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

input:invalid {

    background-color: var(--bs-danger-bg-subtle);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.modal /*----*/,
.modal-backdrop {

    top: 41px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.modal-dialog {

    margin: 0 auto;

    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
