/*--------------------------------------------------------------------------------------------------------------------*/

@import url("sweetalert2/themes/bootstrap-5.css");

@import url("gridstack/dist/gridstack.css");

@import url("vue-nyx/style/vue-nyx.css");

/*--------------------------------------------------------------------------------------------------------------------*/
/* BOOTSTRAP                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/* sm ≥ 576px */
@media (min-width: 576px) {
    .w-sm-25 { width: 25% !important; }
    .w-sm-50 { width: 50% !important; }
    .w-sm-75 { width: 75% !important; }
    .w-sm-100 { width: 100% !important; }
    .w-sm-auto { width: auto !important; }
}

/* md ≥ 768px */
@media (min-width: 768px) {
    .w-md-25 { width: 25% !important; }
    .w-md-50 { width: 50% !important; }
    .w-md-75 { width: 75% !important; }
    .w-md-100 { width: 100% !important; }
    .w-md-auto { width: auto !important; }
}

/* lg ≥ 992px */
@media (min-width: 992px) {
    .w-lg-25 { width: 25% !important; }
    .w-lg-50 { width: 50% !important; }
    .w-lg-75 { width: 75% !important; }
    .w-lg-100 { width: 100% !important; }
    .w-lg-auto { width: auto !important; }
}

/* xl ≥ 1200px */
@media (min-width: 1200px) {
    .w-xl-25 { width: 25% !important; }
    .w-xl-50 { width: 50% !important; }
    .w-xl-75 { width: 75% !important; }
    .w-xl-100 { width: 100% !important; }
    .w-xl-auto { width: auto !important; }
}

/* xxl ≥ 1400px */
@media (min-width: 1400px) {
    .w-xxl-25 { width: 25% !important; }
    .w-xxl-50 { width: 50% !important; }
    .w-xxl-75 { width: 75% !important; }
    .w-xxl-100 { width: 100% !important; }
    .w-xxl-auto { width: auto !important; }
}

/*--------------------------------------------------------------------------------------------------------------------*/

input:invalid {

    background-color: rgba(var(--bs-danger-rgb), 0.25);
}

/*--------------------------------------------------------------------------------------------------------------------*/

label,
.form-label {

    display: inline-block;

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.modal,
.offcanvas,
.modal-backdrop,
.spinner-backdrop,
.offcanvas-backdrop {

    top: 47px !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.modal-dialog {

    margin: 0 auto;

    padding: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn-group > .btn {

    margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* NYX LAB                                                                                                            */
/*--------------------------------------------------------------------------------------------------------------------*/

html, body,
#nyx_lab {

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#nyx_lab {

    background-color: rgba(var(--bs-body-color-rgb), 0.03);
}

/*--------------------------------------------------------------------------------------------------------------------*/

#nyx_lab {

    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    overflow: hidden;
}

#nyx_main {

    display: grid;
    grid-template-columns: 4rem minmax(0, 1fr);
    overflow: hidden;
}

#nyx_main_left {

    overflow-x: hidden;
    overflow-y:  auto ;
}

#nyx_main_right {

    overflow-x: hidden;
    overflow-y: hidden;
}

#nyx_main_left::-webkit-scrollbar,
#nyx_main_right::-webkit-scrollbar {

    display: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="desktop"][data-maximized="false"]::before {

    content: "";
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    box-shadow: inset 0 0 0 1px var(--bs-border-color);

    pointer-events: none;
    z-index: 100000;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="desktop"][data-maximized="false"]::after {

    content: "";
    position: fixed;

    right: 0;
    bottom: 0;
    height: 16px;
    width: 16px;

    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(127,127,127,0.75)' viewBox='0 0 18 18'><path d='M14.228 16.227a1 1 0 0 1-.707-1.707l1-1a1 1 0 0 1 1.416 1.414l-1 1a1 1 0 0 1-.707.293zm-5.638 0a1 1 0 0 1-.707-1.707l6.638-6.638a1 1 0 0 1 1.416 1.414l-6.638 6.638a1 1 0 0 1-.707.293zm-5.84 0a1 1 0 0 1-.707-1.707L14.52 2.043a1 1 0 1 1 1.415 1.414L3.457 15.934a1 1 0 0 1-.707.293z' /></svg>");

    pointer-events: none;
    z-index: 100001;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*noinspection CssNonIntegerLengthInPixels*/
@media (max-width: 991.98px) { /* < lg */

    #nyx_toolbar > *:not(:last-child) {

        margin-bottom: 0.5rem;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* DRAG REGION                                                                                                        */
/*--------------------------------------------------------------------------------------------------------------------*/

[data-tauri-drag-region] {

    /*noinspection CssUnknownProperty*/
    -webkit-app-region: drag;

    /*noinspection CssUnknownProperty*/
    app-region: drag;
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-tauri-drag-region] a,
[data-tauri-drag-region] input,
[data-tauri-drag-region] button,
[data-tauri-drag-region] select {

    /*noinspection CssUnknownProperty*/
    -webkit-app-region: no-drag;

    /*noinspection CssUnknownProperty*/
    app-region: no-drag;
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-tauri-drag-region] .navbar-text {

    white-space: nowrap;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* PULSING BUTTONS                                                                                                    */
/*--------------------------------------------------------------------------------------------------------------------*/

.btn-success.pulse-btn,
.btn-outline-success.pulse-btn{

    color: var(--bs-white);
    background-color: var(--bs-success);
    animation: pulse 1.5s infinite;
}

.btn-warning.pulse-btn,
.btn-outline-warning.pulse-btn{

    color: var(--bs-black);
    background-color: var(--bs-warning);
    animation: pulse 1.5s infinite;
}

/*--------------------------------------------------------------------------------------------------------------------*/

@keyframes pulse {

    0% { transform: scale(1.00); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1.00); }
}

/*--------------------------------------------------------------------------------------------------------------------*/
